body {
    background: #e0eafc;
    background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3);
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

input {
    border-radius: 2rem;
    color: #000;
    border: none;
    padding: 0.5rem;
}

input:focus {
    outline: none;
}